.komunikat {
  transition: 0.3s;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  --webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);

  background-color: transparent;
  color: transparent;
  padding: 5px;
  text-align: center;
  align-items: center;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  top: -30px;
  min-height: 30px;
  max-height: 90px;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);

  font-size: 24px;
  font-family: ubuntu, sans-serif;
}

.komunikat_on {
  transition: 0.3s;
  visibility: visible;
  opacity: 1;
  --webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);

  top: 0;

  background-color: rgba(95, 95, 255, 0.75);
  color: white;
}

.komunikat_on_red {
  transition: 0.3s;
  visibility: visible;
  opacity: 1;
  --webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);

  top: 0;

  background-color: rgba(255, 95, 95, 0.75);
  color: white;
}
