@font-face {
  font-family: ubuntu;
  src: url(Ubuntu-Medium.ttf);
}

body {
  margin: 0;
  background-color: black;
  font-size: 24px;
  color: white;
  font-family: ubuntu, sans-serif;
}


/*#0f1315*/
